select.btn-danger {
    height: auto;
    line-height: 18px;
}

/* this is optional (see below) */
select.btn {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    padding-right: 14px;
}

select.btn-danger + .caret {
    margin-left: -20px;
    margin-top: 9px;
}

// orange
select.btn-warning {
    height: auto;
    line-height: 18px;
}

/* this is optional (see below) */
select.btn {
    -webkit-appearance: button;
       -moz-appearance: button;
            appearance: button;
    padding-right: 14px;
}

select.btn-warning + .caret {
    margin-left: -20px;
    margin-top: 9px;
}